.pagination{
    margin-bottom: 20px;
}
.pagination__list{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    list-style: none;

    max-width: 100%;
    overflow: auto;
}
.pagination__item{
    margin: 0 10px;
    cursor: pointer;
}
.pagination__item.active{
    font-size: 18px;
    font-weight: bold;
}