.descriptionBlock {
    padding: 10px;
}
.profile{
    padding: 10px;
}
.profile__avatar{
    position: relative;
    margin-right: 15px;
}
.profile__avatarChange__label{
    display: none;
    position: absolute;
    inset: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.51);
    font-size: 20px;
    color: #fff;
}
.profile__avatar:hover .profile__avatarChange__label{
    display: flex;
    cursor: pointer;
}
.profile__info{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.profile__description{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.profile__picture{
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
.profile__avatarChange__label{

}
.profile__avatarChange__input{

}
.profile__image{

}
.profile__status{
    margin-bottom: 20px;
}
.profile__status__item{

}
.profile__status__input{

}
.profile__about{
    margin-bottom: 20px;
}
.profile__jobStatus{

}

.contacts{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.contacts__title{
    margin-top: 0;
    margin-bottom: 10px;
}
.contacts__list{
    display: flex;
    flex-wrap: wrap;
}
.contacts__item{

}
.contacts__link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid;
    color: #000;
    text-decoration: none;
    transition: .2s;
}
.contacts__link:hover{
    background: #000;
    color: #fff;
}
.contacts__item:not(:last-child){
    margin-right: 5px;
}